services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ping-backend
    ports:
      - "0.0.0.0:4000:4000"
    volumes:
      - ./backend/data:/app/data
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ping-frontend
    ports:
      - "0.0.0.0:3000:80"
    depends_on:
      - backend
    restart: unless-stopped
